.DS_Store
*.swp

# gh_pages branch related
_site
.sass-cache
vendor
.bundle
Gemfile.lock

# emacs
*~
\#*\#

# built rpms
**/genesis_scripts-*.noarch.rpm
**/genesis_scripts-*.src.rpm

# stamp files used by Make
.docker-image
.test-docker

# output directories
output
output-upstream
